.top_page{
   background-image: url("assets/backgrounds/landing.jpg"); 
}

#image{
    text-align: center;
    
}

.paragraph1{
    text-align: center;
}
.pa2{
    text-align: center;
}
.second{
    background-color: rgb(235, 227, 235);
    width: 25%;
    text-align: center;
    height: 50px;
   
}
.Third{
   background-color: orangered;
   width: 25%;
   text-align: center;
   height: 50px;

}